<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Tumor Detection</title>
</head>
<body>
    <h1>Brain Tumor Detection and Information Generator</h1>
    <p>Kindly upload a brain scan image to predict if there is a tumor growing.</p>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*">
        <input type="submit" value="Process Image">
    </form>
</body>
</html>
